#content {
  padding-top: 40px;
  padding-bottom: 30px;
}

.navbar .navbar-brand {
  font-family: 'Open Sans',sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #fff;
  background-image: url("/assets/img/logo.png");
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 15px;
  padding: 7px 15px 5px 38px;
}

/* Footer */
footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1000;
}

#logo-footer {
  background-repeat: no-repeat;
  background-size: auto 25px;
  background-position-x: 15px;
  height: 30px;
  background-image: url("/assets/img/taric-logo.gif");
}

#version {
  color: #999;
}
