@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/*** FONTS ***/

body {
  font-family: 'Open Sans', sans-serif;
}

.btn, .form-control {
  font-family: 'Open Sans', sans-serif;
}

label {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin: 5px 0;
}

body, label, .btn, .form-control, a {
  font-size: 13px;
  line-height: 19px;
}

.btn-mini {
  font-size: 10.5px;
}

/* Fix icon margin for Open Sans*/
[class^="icon-"], [class*=" icon-"] {
  margin-top: 3px;
}

/*** COLOR ***/

a, .btn-link{
  color: #00205B;
}

a:hover, a:focus, .btn-link:hover, .btn-link:focus {
  color: #0093B2;
}

.btn-primary {
  background-color: #00205B;
}

.btn-link {
  color: #00205B;
}

.label-info, .badge-info {
  background-color: #00205B;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  filter: none;
  background-image: none;
  background-color: #00205B;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #00205B;
}

.navbar-inverse .navbar-toggle {
  border-color: #777;
}

.pagination>li>a, .pagination>li>span {
  color: #00205B;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: #00205B;
  border-color: #00205B;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #00205B;
}

code {
  color: #236192;
  background-color: #f2f3f9;
}

/*** BUTTONS ***/

.btn {
  border-radius: 0px;
  background-image: none;
}

.btn.disabled, .btn[disabled] {
  opacity: .35;
  filter: alpha(opacity=35);
}

.btn-group>.btn:first-child {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.btn-group>.btn:last-child, .btn-group>.dropdown-toggle {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.well .btn.btn-default{
  background-color: #f5f5f5;
  border-color: #bbb;
}

.well .btn.btn-default:hover{
  background-color: #e6e6e6;
}

.pagination ul>li:first-child>a, .pagination ul>li:first-child>span,
.pagination ul>li:last-child>a, .pagination ul>li:last-child>span,
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span,
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
  border-radius: 0px;
}

.pagination-sm>li>a, .pagination-sm>li>span {
  padding: 4px 8px;
}

/*** FORMS ***/

form {
  margin: 0px;
}

.modal {
  border-radius: 0px;
}

.label {
  border-radius: 0px;
}

.well {
  border-radius: 0px;
  padding: 9px;
}

.form-control {
  border-radius: 0px;
  height: 33px;
}

.input-group-addon {
  border-radius: 0px;
}

th {
  background-color: #eee;
}

/*** TABS ***/

.nav-tabs>.active>a, .nav-tabs>.active>a:hover {
  color: #00205B;
  font-weight: bold;
}

.nav>li>a {
  padding: 4px 12px;
}

.well .nav-tabs>.active>a, .well .nav-tabs>.active>a:focus, .well .nav-tabs>.active>a:hover {
  background-color: #f5f5f5;
  border-color: #bbb;
  border-bottom-color: transparent;
}

.well .nav-tabs {
  border-color: #bbb;
}

/*** NAVLIST ***/
.nav-stacked>li.nav-header {
  margin-top: 9px;
  text-transform: uppercase;
  color: #999999;
  padding: 3px 15px;
}

.nav-pills>li>a {
  border-radius: 0px;
}

.nav-stacked>li+li {
  margin-top: 0px;
}

/*** NAVBAR ***/

.navbar {
  min-height: 20px;
}

.navbar-inverse {
  background-color: #00205B;
  border-color: #FFF;
}

.navbar .navbar-brand, .navbar .nav > li > a {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #00205B;
}

.navbar .navbar-brand {
  font-family: 'Merriweather Sans', 'Open Sans', sans-serif;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 30px;
  height: auto;
}

.navbar-inverse .navbar-brand, .navbar-inverse .nav > li > a {
  color: #FFF;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus,
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #236192;
}

.navbar-inverse .nav > li > a:hover {
  color: #9CC;
}

.navbar-inverse .divider-vertical {
  border-right-color: #04B;
  border-left-color: #026;
}

.navbar-toggle:first-child .icon-bar {
  margin-top: 0px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 3px;
}

.navbar-toggle {
  padding: 4px 6px;
  margin-top: 5px;
  margin-bottom: 2px;
}

/* OTHERS */

.dropdown-menu {
  border-radius: 0px;
}

hr {
  margin: 5px;
}

legend {
  font-size: 18px;
  margin-bottom: 5px;
}

.alert {
  padding: 9px 20px 9px 9px;
  margin-bottom: 10px;
  border-radius: 0px;
}

.alert .close {
  top: 0px;
  right: -10px;
}
