<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
      <title><%= Syskata::PRODUCT_NAME %></title>
    </meta>
    <!--link rel="shortcut icon" type="image/png" href="/assets/img/tdocs_favicon.ico"/-->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/taric-bootstrap.css">
    <link rel="stylesheet" href="/assets/css/syskata.css">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png"/>
    <script src="/assets/vendor/angular/angular.js"></script>
  </head>
  <body ng-app="Syskata">
    <div id="menu-bar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= Syskata::PRODUCT_NAME %></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div>
      </div>
    </div>
    <div id="content" class="container">
      <%= yield %>
    </div>
    <footer>
      <div class="container">
        <hr/>
        <div class="row">
          <div class="col-xs-4" id="logo-footer">
          </div>
          <div id="version" class="col-xs-4 text-center">
            v<%= Syskata::VERSION %>
          </div>
          <div class="col-xs-4 text-right">
            © Taric S.A.
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
