<div class"row" ng-controller="Main">
<h1>Bienvenido a <%= Syskata::PRODUCT_NAME %>!</h1>
<p>
  <a href="/users.pdf" class="btn btn-default" target="_blank">Descargar PDF</a>
</p>
<p>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td><a ng-click="delete_user(user.id, $index)" href=""><span class="glyphicon glyphicon-trashglyphicon glyphicon-trash"></span></a></td>
      </tr>
    </tbody>
  </table>
</p>
<p>
  <form class="form-inline">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" placeholder="Jane Doe" ng-model="user.name">
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="jane.doe@example.com" ng-model="user.email">
    </div>
    <button ng-click="add_user()" class="btn btn-default">Añadir</button>
  </form>
</p>
</div>
<script src="/assets/js/main.js"></script>
